@using TicketDesk.Localization.Views.DataManagement
@section title
{
    @Index_sq.Title
}


<h2>@Index_sq.Header</h2>

<ul>

    <li>
        @Index_sq.DbEmpty = @ViewBag.IsDatabaseEmpty
    </li>
    <li>
        @Index_sq.DbIsLegacy = @ViewBag.IsLegacyDatabase
    </li>
    <li>
        @Index_sq.DbIsReady = @ViewBag.IsDatabaseReady
    </li>
</ul>
