@using TicketDesk.Localization.Views.Shared
    <li>
        @Html.ActionLink(@_Layout_sq.ManageUsers, "Index", "UserAdministration")
    </li>
    <li>
        @Html.ActionLink(@_Layout_sq.ManageProjects, "Index", "ProjectSettings")
    </li>
    <li>
        @Html.ActionLink(@_Layout_sq.ApplicationSettings, "Index", "ApplicationSettings")
    </li>
    <li>
        @Html.ActionLink(@_Layout_sq.PushNotificationSettings, "Index", "PushNotificationSettings")
    </li>
    <li>
        @Html.ActionLink(@_Layout_sq.DemoDataManagement, "Demo", "DataManagement")
    </li>
    <li>
        @Html.ActionLink(@_Layout_sq.SearchManagement, "Index", "SearchManager")
    </li>

